<!-- FIRST ============================================================-->
<script id='firstT' type='text/ractive'>
           <button class="btnGen" on-tap="login">Ingresar a mi cuenta</button>
         <!--  <button class="btnGen" on-tap="registro">Registrar usuario nuevo</button> -->
</script>

<!--  LOGIN ============================================================-->
<script id='loginT' type='text/ractive'>


  <div id="wrapperLogin" class="" >

  		   <div id="logoLoginB">
		<img src="img/logoForma.png">
	</div>


            <div class="labelT">Correo:</div>
            <input type="text" name="name" id="name"  onkeyup="return forceLower(this);" value="" data-clear-btn="true" data-mini="true">
             <div class="labelT">Contraseña: </div>
            <input type="password" name="password" id="password" value="" data-clear-btn="true" autocomplete="off" data-mini="true">

                <a href="#" data-rel="close" class="btnNaranja ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini" on-tap="ingresar">Ingresar</a>    

              <!--  <a class="linksTexto" href="#recuperar">¿Olvidaste tu contraseña?</a>-->

  </div>


</script>

<!--  HOME ============================================================-->
	<script id='mainT' type='text/ractive'>
    



	{{>menuT}}

	 <div data-role="header" id="headerLogo" data-position="fixed">
        <div id="logoPant">
		<img src="img/logoForma.png">
	</div>

     <!--   <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>  -->
      <!--  <a href="#add-form" data-icon="gear" data-theme="a" class="gearIco ui-btn-right" data-iconpos="notext">Info</a> -->
    </div><!-- /header -->

    <div role="main" >
           <div id="wrapperMain" class="mainBackI" >


           <div class="botCont">

       				<div class="listMenu" on-tap="getExp">
       					<div class="imgCont">
       					<img class="imgMenuc" src="../img/bot1.png">
       					</div>
					</div>

					<div class="listMenu " on-tap="getCalendar">
						<div class="imgCont">
						<img class="imgMenuc" src="../img/bot2.png">
						</div>
					</div>

					<div class="listMenu " on-tap="getPacientes">
						<div class="imgCont">			
						<img class="imgMenuc" src="../img/bot3.png">
						</div>
					</div>

					<div class="listMenu " on-tap="getNoticias">	
						<div class="imgCont pad10">
						<img class="imgMenuc" src="../img/bot4.png">
						</div>		
					</div>

			</div>	


				<div class="icoRegistro" on-tap="getCliomedic">
			<img src="../img/logoClio.png">
		</div>


		</div>

	


    </div>
 
     <!-- <div id="map" style="display:none;"></div> -->

    </script>



<!-- Listado 1  ============================================================-->
<script id='listT' type='text/ractive'>

	<div id="wrapperList" >
	    <div id="scroller" >
	        <ul data-role="listview" id="listview">
	            {{#items}}
	            <li  data-icon="false">
	                <a class="autoli" on-tap="listDetail" data-transition="fade">
	                   
	                	

	                   	<div class="small-10 column rPad">
	                        <div class="nSucursal">{{correctCase(nombre)}}</div>
	                        
	                    </div>

	                    
	                    <div class="small-1 column rPad">
	                        <div class="fNaranja"> 
	                        <img src="img/fNaranja.png">
	                        </div>
	                    </div>
	                </a>
	            </li>
	            {{/items}}
	        </ul>

	        {{#if items.length==0}}
	        	<h4 style="margin:20px;"> esperando nota de evolución activa... </h4>
	        {{/if}}

	    </div>
	</div>




</script>

<!-- Listado 1  ============================================================-->
<script id='listTP' type='text/ractive'>

	<div id="wrapperList" >
	    <div id="scroller" >
	        <ul data-role="listview" id="listview">
	            {{#items}}
	            <li  data-icon="false">
	                <a class="autoli" on-tap="listDetail" data-transition="fade">
	                   
	                   	<div class="small-10 column rPad">
	                        <div class="nSucursal">{{correctCase(info.nombre)}} {{correctCase(info.paterno)}} {{correctCase(info.materno)}}</div>
	                        <div class="nSub">{{info.curp}}</div>
	                        
	                    </div>

	                    
	                    <div class="small-1 column rPad">
	                        <div class="fNaranja"> 
	                        <img src="img/fNaranja.png">
	                        </div>
	                    </div>
	                </a>
	            </li>
	            {{/items}}
	        </ul>

	        {{#if items.length==0}}
	        	<h4 style="margin:20px;"> no existen pacientes </h4>
	        {{/if}}

	    </div>
	</div>




</script>



<!--  Secciones Historico  ============================================================-->
<script id='seccsExp' type='text/ractive'>
    <h1>{{nombre}}</h1>
    <div id="wrapperList">
        <div id="scroller">
            <ul data-role="listview" id="listview">
                {{#items}}
                <li data-icon="false">
                    <a class="autoli" on-tap="clickSecc" data-transition="fade">
                        <div class="small-10 column rPad">
                            <div class="nSucursal">{{secname}} </div>
                        </div>
                        <div class="small-1 column rPad">
                            <div class="fNaranja">
                                <img src="img/fNaranja.png">
                            </div>
                        </div>
                    </a>
                </li>
                {{/items}}
            </ul>
        </div>
    </div>
</script>


<!--  Listado Histórico de Expedientes ============================================================-->
<script id='listNotasT' type='text/ractive'>
    <h1>Notas actuales</h1>
    <div id="wrapperList">
        <div id="scroller">
            <ul data-role="listview" id="listview">
                {{#data:num}}
                <li data-icon="false">
                    <a class="autoli" on-tap="clickSecc" data-transition="fade">
                        <div class="small-10 column rPad">
                            <div class="nSucursal">{{cCase(data[num].nomMed)}}</div>
                            <div class="nSub">{{momentoFecha(data[num].closeTs)}} {{momentoHora(data[num].closeTs)}}</div>
                        </div>
                        <div class="small-1 column rPad">
                            <div class="fNaranja">
                                <img src="img/fNaranja.png">
                            </div>
                        </div>
                    </a>
                </li>
                {{/data}}

                  {{#if data.length==0}}
                	<div class="emptyTitle">El paciente no cuenta con Notas de evolución</div>
                {{/if}}

            </ul>
        </div>
    </div>
</script>





<!--  MAPA ============================================================-->
	<script id='mapaT' type='text/ractive'>

	 <div role="main" class="ui-content">
	<div style="display:none;"><input  id="pac-input" type="text" placeholder="Escribe tu dirección, Código Postal ó Ciudad" /></div>
	<div id="ubica"></div>
	</div>

	

</script>



<!--  Info Sucursal ============================================================-->
<script id='infoT' type='text/ractive'>

	
	
	<div id="wrapperInfo" class="wrapper" >
	    <div id="scroller" >

<div class="conte">


	    <div class="small-12 column collapse gapbot">	       
	        <div class="column info_direccion"> {{cCase(data.paciente)}}</div>
	        <div class="column info_direccion">{{data.curp}}</div>
	        
	    </div>

	    <div class=" crowAnchorBrd">


	    <div class="small-12 columns collapse">
            {{#each data.cargas}}
                 <div class="small-12 columns spacebot ">
                    <div class="crow inputHolder">
                    <div class="small-12 columns collapse">
                      <form id="upload_form_{{nombre}}" enctype="multipart/form-data" method="post" action="">
                        <label id="agregar_{{nombre}}" class="agregarcom">
                          <div id="buttonUpload_{{nombre}}" on-click="selectFileDoc" class="buttonUpload"><i class="fa fa-folder-open-o"></i> 

                     <div class="btnNaranja  column ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini">Anexar imagen</div>
                     </div>
                      </label>
                      <div>
                          <div>
                              <input type="file" style="display:none;" name="file" id="uploadedfile_{{nombre}}" onchange="ctrl_uploadRack.fileSelected('estudios','{{nombre}}');" onclick="" />
                          </div>
                      </div>
                      <div>
                          <input id="uploadbtn_{{info.curp}}" style="display:none;float:left" class="selectFile" type="" value="" onclick="ctrl_uploadRack.startUploading('estudios','{{nombre}}')" />
                      </div>
                      <div id="statusUpload_{{nombre}}"></div>
                         </form>
                            <div id="errorNombrec" class="errDiv"></div>
                        </div>
                        <div class="small-2 end show-for-medium-up columns collapse">
                           <!-- <div id="icoNombrec" class="icoInput"><img src="/img/correct.png"></div> -->
                        </div>
                    </div>
                 </div>
             {{/each}}
         </div>          
       
       <hr>

          
		

        {{#each data.estudiosE: num}}
            <div class="small-12 columns">
                
                <div  class="small-4 columns " >
	                <a href="{{data.estudiosE[num].documento}}" class="swipebox" title="{{data.estudiosE[num].idDoc}}">
	                	  <div class="documentPicEst" id="doc{{num}}" style="background: url('{{data.estudiosE[num].documento}}') no-repeat center;width:100%;"> </div >
	                </a>
                </div>

                <div id="no_Doc_{{num}}" class="small-8 columns cursor">
                {{data.estudiosE[num].idDoc}}
                <br>
                {{momentoFecha(data.estudiosE[num].fecha)}}

                </div>
                
                
                
            </div>
        {{/each}}
        
        
    </div>



  

</div>

	     </div>
	</div>

	
</script>




<!--  Info Personales ============================================================-->
<script id='personalesT' type='text/ractive'>

<div id="wrapperInfo" class="wrapper">
    <div id="scroller">
        <div class="conte">
            <div class="small-12 column collapse gapbot">
                
            	<table data-role="table" id="table_personales" data-mode="">
			      <thead>
			        <tr>
			          <th></th>
			          <th></th>
			        </tr>
			      </thead>
			      <tbody>
			      	<tr>
			          <th>Nombre completo</th>
			          <td>{{nombre}} {{paterno}} {{materno}}</td>
			        </tr>

			        <tr>
			          <th>Id Expediente</th>
			          <td>{{uid}}</td>
			        </tr>

			      	{{#if curp!=undefined}}
			        <tr>
			          <th>Curp</th>
			          <td>{{curp}}</td>
			        </tr>
			        {{/if}}

			        {{#if fecha!=undefined}}
			        <tr>
			          <th>Fecha de Nacimiento</th>
			          <td>{{fecha}}</td>
			        </tr>
			        {{/if}}

			        {{#if edad!=undefined}}
			        <tr>
			          <th>Edad</th>
			          <td>{{edad}} años</td>
			        </tr>
			        {{/if}}

			        {{#if generales.gpoS!=undefined}}
			        <tr>
			          <th>Grupo Sanguineo</th>
			          <td>{{generales.gpoS}}</td>
			        </tr>
			        {{/if}}


			        {{#if sexo!=undefined}}
			        <tr>
			          <th>Sexo</th>
			          <td>{{sexo}}</td>
			        </tr>
			        {{/if}}

			        {{#if generales.civil!=undefined}}
			        <tr>
			          <th>Estado Civil</th>
			          <td>{{generales.civil}}</td>
			        </tr>
			        {{/if}}


			        {{#if generales.escolaridad!=undefined}}
			        <tr>
			          <th>Escolaridad</th>
			          <td>{{generales.escolaridad}}</td>
			        </tr>
			        {{/if}}

			        {{#if generales.religion!=undefined}}
			        <tr>
			          <th>Religión</th>
			          <td>{{generales.religion}}</td>
			        </tr>
			        {{/if}}

			        
			        {{#if generales.gpo!=undefined}}
			        <tr>
			          <th>Grupo étnico</th>
			          <td>{{generales.gpo}}</td>
			        </tr>
			        {{/if}}
			      </tbody>
			    </table>

            </div>
        </div>
    </div>
</div>
	
</script>

<!--  Info Antecedentes ============================================================-->
<script id='antecedentesT' type='text/ractive'>

<div id="wrapperInfo" class="wrapper">
    <div id="scroller">
        <div class="conte">
            <div class="small-12 column collapse gapbot">
                
            	<table data-role="table" id="table_antecedentes" data-mode="reflow">
			      <thead>
			        <tr>
			          <th></th>
			          <th></th>
			        </tr>
			      </thead>
			      <tbody>

			       <tr>
			          <th>Antecedentes personales patologicos</th>
			          <td>{{antecedentes.patologicos_t}}</td>
			        </tr>


			      	<tr>
			          <th>Antecedentes ginecobstétricos</th>
			          <td>{{antecedentes.ginecobstetricos_t}}</td>
			        </tr>

			        <tr>
			          <th>Antecedentes quirúrgicos o traumáticos</th>
			          <td>{{antecedentes.quirurgicos_t}}</td>
			        </tr>

			         <tr>
			          <th>Inmunizaciones</th>
			          <td>{{antecedentes.inmunizaciones_t}}</td>
			        </tr>
  
			      </tbody>
			    </table>

            </div>
        </div>
    </div>
</div>
	
</script>

<!--  Info Personales ============================================================-->
<script id='estudiosT' type='text/ractive'>

	
<div id="wrapperInfo" class="wrapper">
    <div id="scroller">
        <div class="conte">
            <div class="small-12 column collapse gapbot">
                <div class="column info_direccion">{{info.curp}}</div>
            </div>
            <div class=" crowAnchorBrd">

                {{#each estudiosA:num0}}

                {{#each estudiosE: num}}
                <div class="small-12 columns">
                    <div class="small-4 columns ">
                        <a href="{{estudiosE[num].documento}}" class="swipebox" title="{{estudiosE[num].idDoc}}">
                            <div class="documentPicEst" id="doc{{num}}" style="background: url('{{estudiosE[num].documento}}') no-repeat center;width:100%;"> </div>
                        </a>
                    </div>
                    <div id="no_Doc_{{num}}" class="small-8 columns cursor">
                        {{estudiosE[num].idDoc}}
                        <br> {{momentoFecha(estudiosE[num].fecha)}}
                    </div>
                </div>
                {{/each}}

                {{/each}}

                {{#if estudiosA.length==0}}
                <div class="emptyTitle">El paciente no cuenta con estudios</div>
                {{/if}}

            </div>
        </div>
    </div>
</div>

	
</script>

<!--  Info Personales ============================================================-->
<script id='historicoT' type='text/ractive'>

<div id="wrapperInfo" class="wrapper">
    <div id="scroller">
        <div class="conte">
            <div class="small-12 column collapse gapbot">
                <div class="column info_direccion">Historico</div>
                <div class="column info_direccion">{{curp}}</div>
            </div>
        </div>
    </div>
</div>
	
</script>

<!--
 	   <div data-role="panel" data-position-fixed="true" data-display="push" data-theme="b" id="nav-panel">
        <ul data-role="listview">
            <li data-icon="delete"><a href="#" data-rel="close">Close menu</a></li>
                <li><a href="#panel-fixed-page2">Accordion</a></li>
                <li><a href="#panel-fixed-page2">AJAX Navigation</a></li>
                <li><a href="#panel-fixed-page2">Autocomplete</a></li>
                <li><a href="#panel-fixed-page2">Buttons</a></li>
          
        </ul>
    </div>
     -->
<!--  LOGIN ============================================================-->

   <!-- AGENDA  ====================================================-->
  <script id='agendaT' type='text/ractive'>
    
  <!--  <div id='external-events'>
        <p><img src="img/trashcan.png" id="trash" alt=""></p>
    </div>
  -->  
    
    
    <div class="dataCont crow">
     
      <div id='calendar'></div>
    </div>


    <div id="modal"></div>

    
    <div style='clear:both'></div>
      
    
  </script>



<!--  MENU ============================================================-->
<script id='menuT' type='text/html'>
 


    <div data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay" data-theme="b" id="add-form">

      
            <div class="cardName gapbot">{{userData.nombre}}</div>

        	<br>



            <button on-tap="cerrarsesion" class="ui-btn" >cerrar sesión</button>


            <div class="version">versión 1.3.3</div>

    </div><!-- /panel -->



		<div id="galCont">
				<div on-tap="closeZoom" class="closeZoom">X</div>
				 <div id="cardRepZoom" >
            <div class="cardName">{{userData.nombre}}</div>
             <div class="cardId">{{userData.cardHypen}}</div>
            <div class="cardVenc">{{userData.vencimiento}}</div>
            <!--<div class="cardCCV">{{userData.ccv}}</div> -->

            </div>


		</div>

</script>




  <script id='editarT' type='text/ractive'>

  <div id="eCita">

  <div id="frmCrearCita" title="Crear nuevo evento">
      <form>
        <div class="small-12 columns crowTitle">
            <div class="row">
            <div class="labelInput small-6 columns">Editar Cita</div>
             <div style="height:30px;margin-top:2px;" on-click="deleteCita" class="columns btGCita orange  ">Borrar Cita</div>
            </div>
        </div>
        <input type="hidden" id="input_date" />
        <input type="hidden" id="input_allDay" />
        <div class="row"><br></div>
        <div class="row">
            <div class="small-4 columns">
              <div class="labelInput">Paciente</div>
            </div>
            <div class="small-7 columns collapse">
              <input disabled type="texto" name="paciente" id="paciente" class="ginput"/>
             
            </div>  
        </div>
        <div class="row">
            <div class="small-4 columns">
              <div class="labelInput">Motivo </div>
            </div>
            <div class="small-7 columns collapse">
              <input  type="texto" name="motivo" id="motivo" class="ginput"/>
            </div>  
        </div>
  
        <div class="row">
        <div class="small-6 columns">
                <div on-click="cancelarCita" class="columns btGCita orange spaceBt center">Cancelar</div>
            </div>

            <div class="small-6 columns">
                <div on-click="updateCita" class="columns btGCita orange spaceBt center">Actualizar Cita</div>
            </div>
            
        </div>
        
      </form>
    </div>

</div>

  </script>  





  <!--  Info Personales ============================================================-->
<script id='notaDetT' type='text/ractive'>

<div id="wrapperInfo" class="wrapper">
    <div id="scroller">
        <div class="conte">
            <div class="small-12 column collapse gapbot">
                
            	<table data-role="table" id="table_notaDet" data-mode="">
			      <thead>
			        <tr>
			          <th></th>
			          <th></th>
			        </tr>
			      </thead>
			      <tbody>
			      	<tr>
			          <th>Fecha</th>
			          <td>{{momentoFecha(closeTs)}}</td>
			        </tr>

			        <tr>
			          <th>Nombre Médico</th>
			          <td>{{nomMed}}</td>
			        </tr>

			        <tr>
			          <th>Motivo de consulta o padecimiento actual</th>
			          <td>{{cCase(padecimiento.motivo)}}</td>
			        </tr>

			        {{#if signos.peso!=undefined}}
			        <tr>
			          <th>Peso</th>
			          <td>{{signos.peso}} kg</td>
			        </tr>
			        {{/if}}

			        {{#if signos.circ!=undefined}}
			        <tr>
			          <th>Circunferencia abdominal</th>
			          <td>{{signos.circ}} cm</td>
			        </tr>
			         {{/if}}

			        {{#if signos.altura!=undefined}}
			        <tr>
			          <th>Altura</th>
			          <td>{{signos.altura}} cm</td>
			        </tr>
			         {{/if}}
			        


			        {{#if temperatura!=undefined}}	
			         <tr>
			          <th>Temperatua</th>
			          <td>{{signos.temperatura}} cm</td>
			        </tr>
			        {{/if}}


			        {{#if signos.ta!=undefined}}
			        <tr>
			          <th>T.A.</th>
			          <td>{{signos.ta}} mmHg</td>
			        </tr>
			         {{/if}}

			         {{#if signos.fc!=undefined}}
			        <tr>
			          <th>F.C.</th>
			          <td>{{signos.fc}} x</td>
			        </tr>
			         {{/if}}

			        {{#if signos.fr!=undefined}}
			        <tr>
			          <th>F.R.</th>
			          <td>{{signos.fr}} x</td>
			        </tr>
			         {{/if}}
			       

			          </tbody>
			    	</table> 

			    	<table data-role="table" id="table_notaDet" data-mode="reflow">
			      <thead>
			        <tr>
			          <th></th>
			          <th></th>
			        </tr>
			      </thead>
			      <tbody>
			        {{#if sintomas!=undefined}}
			        <tr>
			          <th>Síntomas</th>
			          <td>{{cCase(sintomas)}}</td>
			        </tr>
			        {{/if}}

			  

			         {{#if habitus!=undefined}}
			        <tr>
			          <th>Habitus</th>
			          <td>{{cCase(habitus)}}</td>
			        </tr>
			        {{/if}}

			         {{#if cabcue!=undefined}}
			        <tr>
			          <th>Cabeza y Cuello</th>
			          <td>{{cCase(cabcue)}}</td>
			        </tr>
			        {{/if}}

			         {{#if torax!=undefined}}
			        <tr>
			          <th>Torax</th>
			          <td>{{cCase(torax)}}</td>
			        </tr>
			        {{/if}}

			         {{#if genitales!=undefined}}
			        <tr>
			          <th>Genitales</th>
			          <td>{{cCase(genitales)}}</td>
			        </tr>
			        {{/if}}

			          {{#if extremidades!=undefined}}
			        <tr>
			          <th>Extremidades</th>
			          <td>{{cCase(extremidades)}}</td>
			        </tr>
			        {{/if}}

			          {{#if columna!=undefined}}
			        <tr>
			          <th>Columna</th>
			          <td>{{cCase(columna)}}</td>
			        </tr>
			        {{/if}}

			        {{#if abdomen!=undefined}}
			        <tr>
			          <th>Abdomen</th>
			          <td>{{cCase(abdomen)}}</td>
			        </tr>
			        {{/if}}


			        {{#if tratamiento.plan_t!=undefined}}
			        <tr>
			          <th>Plan de tratamiento y notas higiénico dietéticas</th>
			          <td>{{tratamiento.plan_t}}</td>
			        </tr>
			        {{/if}}

			        {{#if diagnostico.enfermedad_t!=undefined}}
			        <tr>
			          <th>Diagnostico</th>
			          <td>{{cCase(diagnostico.enfermedad_t)}}</td>
			        </tr>
			        {{/if}}


			         {{#if estudios.estudio_t!=undefined}}
			        <tr>
			          <th>Estudios a realizar</th>
			          <td>{{estudios.estudio_t}}</td>
			        </tr>
			        {{/if}}



			          </tbody>
			    	</table> 
			      
			    

            </div>
        </div>
    </div>
</div>
	
</script>